// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-brown: #ecd5b4;
$brown: #B99C74;
$dark: #0F0F0F;
$dark-brown: #1A1B18;
$orange-brown: #DB9F00;
$faded-brown: #61533f;

$item-unique: rgb(175, 96, 37);
$item-rare: rgb(255, 255, 119);
$item-magic: rgb(136, 136, 255);
$item-white: rgb(200, 200, 200);
$item-gem: rgb(27, 162, 155);
$item-currency: rgb(170, 158, 130);
$item-corrupted: rgb(210, 0, 0);
$item-card: rgb(14, 186, 255);
$item-prophecy: rgb(181, 75, 255);
$item-essence: rgb(164, 210, 255);
