// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Fontin-Regular", "Helvetica", "sans-serif";
$headers-font: "Fontin-Bold", "Helvetica", "Arial", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "Fontin-Regular";
  src: local("Fontin-Regular"), local("Fontin-Regular"),
    url(Fontin-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fontin-Bold";
  src: local("Fontin-Bold"), local("Fontin-Bold"),
    url(Fontin-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fontin-Italic";
  src: local("Fontin-Italic"), local("Fontin-Italic"),
    url(Fontin-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fontin-SmallCaps";
  src: local("Fontin-SmallCaps"), local("Fontin-SmallCaps"),
    url(Fontin-SmallCaps.ttf) format("truetype");
}
