.c-item-hoverbox {
  display: inline-block;
}
.c-item-hoverbox__display {
  display: flex;
  align-items: flex-start;
  visibility: hidden;
  position: absolute;
  padding: 8px;
}
.c-item-hoverbox__display.is-visible {
  visibility: visible;
  z-index: 9999;
}
.c-item-hoverbox__display.is-left-of-activator .item-box,
.c-item-hoverbox__display.is-above-activator.is-right-side-of-viewport .item-box,
.c-item-hoverbox__display.is-below-activator.is-right-side-of-viewport .item-box {
  order: 1;
}
.c-item-hoverbox__activator {
  display: flex;
  align-items: baseline;
}
.c-item-hoverbox--large .c-item-hoverbox__activator {
  flex-direction: column;
  align-items: stretch;
}
.o-flex-grid {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin-left: -16px;
}
.o-flex-grid__item {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  flex: 0 0 auto;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 100%;
}
.o-flex-grid__inner {
  flex: 0 1 100%;
  margin: 0 !important;
}
@media screen and (min-width: 45em) {
  .o-flex-grid--c2\@sm > .o-flex-grid__item {
    width: 50%;
  }
}
@media screen and (min-width: 60em) {
  .o-flex-grid--c2\@md > .o-flex-grid__item {
    width: 50%;
  }
  .o-flex-grid--c3\@md > .o-flex-grid__item {
    width: 33.3%;
  }
  .o-flex-grid--c4\@md > .o-flex-grid__item {
    width: 25%;
  }
}
@media screen and (min-width: 80em) {
  .o-flex-grid--c3\@lg > .o-flex-grid__item {
    width: 33.3%;
  }
}
@media screen and (min-width: 100em) {
  .o-flex-grid--c2\@lg > .o-flex-grid__item {
    width: 50%;
  }
  .o-flex-grid--c4\@lg > .o-flex-grid__item {
    width: 25%;
  }
}
.c-cblock {
  overflow: hidden;
  margin: 6px 0;
  border: 1px solid #2c2b2b;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #141414;
}
.c-cblock--violet {
  border-color: #585477;
  background-color: #151517;
}
.c-cblock--gold {
  border-color: #75693c;
  background-color: #1c1b19;
}
.c-cblock > *:first-child {
  margin-top: 0 !important;
}
.c-cblock hr {
  clear: both;
  margin: 16px 0;
  background-color: #2c2b2b !important;
}
.c-cblock--violet hr {
  background-color: #585477 !important;
}
.c-cblock--gold hr {
  background-color: #75693c !important;
}
.c-cblock h2,
.c-cblock h3,
.c-cblock h4,
.c-cblock h5,
.c-cblock h6 {
  border: none;
}
.modbox {
  float: right;
}
.modbox table {
  width: 100%;
  float: right;
  clear: both;
  margin: 0 0 0.8em 0;
}
.infobox {
  border: 1px solid #75511d;
  background-color: #141414;
  color: #a38d6d;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  text-align: left;
  font-size: 88%;
  line-height: 1.5em;
}
.infobox caption {
  font-size: 125%;
  font-weight: bold;
}
.infobox td,
.infobox th {
  vertical-align: top;
}
.infobox.bordered {
  border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
  border: 1px solid #aaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
  border: 0;
}
.infobox.sisterproject {
  width: 20em;
  font-size: 90%;
}
.infobox.standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
}
.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
  border: 1px solid #c0c090;
}
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
  border: 0;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
  border: 0;
  border-right: 1px solid #aaa;
}
.citation {
  word-wrap: break-word;
}
.citation .printonly {
  display: none;
}
.keyboard-key {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  border-width: 1px;
  border-style: solid;
  border-color: #756b4f #70664b #574f3a;
  border-radius: 3px;
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
  color: #1a1712;
  white-space: nowrap;
  background: #574f3a;
  background: -moz-linear-gradient(top, #574f3a 0%, #756b4f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #574f3a), color-stop(100%, #756b4f));
  background: -webkit-linear-gradient(top, #574f3a 0%, #756b4f 100%);
  background: -o-linear-gradient(top, #574f3a 0%, #756b4f 100%);
  background: -ms-linear-gradient(top, #574f3a 0%, #756b4f 100%);
  background: linear-gradient(to bottom, #574f3a 0%, #756b4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#574f3a',endColorstr='#756b4f',GradientType=0);
}
.text-color.-default,
.tc.-default {
  color: rgb(127, 127, 127);
}
.text-color.-valuedefault,
.tc.-valuedefault {
  color: rgb(255, 255, 255);
}
.text-color.-pink,
.tc.-pink {
  color: rgb(255, 192, 203);
}
.text-color.-dodgerblue,
.tc.-dodgerblue {
  color: rgb(30, 144, 255);
}
.text-color.-fire,
.tc.-fire {
  color: rgb(150, 0, 0);
}
.text-color.-cold,
.tc.-cold {
  color: rgb(54, 100, 146);
}
.text-color.-lightning,
.tc.-lightning {
  color: rgb(255, 215, 0);
}
.text-color.-chaos,
.tc.-chaos {
  color: rgb(208, 32, 144);
}
.text-color.-augmented,
.tc.-augmented {
  color: rgb(136, 136, 255);
}
.text-color.-crafted,
.tc.-crafted {
  color: rgb(184, 218, 242);
}
.text-color.-enchanted,
.tc.-enchanted {
  color: rgb(184, 218, 242);
}
.text-color.-unmet,
.tc.-unmet {
  color: rgb(210, 0, 0);
}
.text-color.-uniqueitem,
.tc.-uniqueitem {
  color: rgb(175, 96, 37);
}
.text-color.-unique,
.tc.-unique {
  color: rgb(175, 96, 37);
}
.text-color.-rareitem,
.tc.-rareitem {
  color: rgb(255, 255, 119);
}
.text-color.-rare,
.tc.-rare {
  color: rgb(255, 255, 119);
}
.text-color.-magicitem,
.tc.-magicitem {
  color: rgb(136, 136, 255);
}
.text-color.-magic,
.tc.-magic {
  color: rgb(136, 136, 255);
}
.text-color.-whiteitem,
.tc.-whiteitem {
  color: rgb(200, 200, 200);
}
.text-color.-normal,
.tc.-normal {
  color: rgb(200, 200, 200);
}
.text-color.-gemitem,
.tc.-gemitem {
  color: rgb(27, 162, 155);
}
.text-color.-gem,
.tc.-gem {
  color: rgb(27, 162, 155);
}
.text-color.-currencyitem,
.tc.-currencyitem {
  color: rgb(170, 158, 130);
}
.text-color.-currency,
.tc.-currency {
  color: rgb(170, 158, 130);
}
.text-color.-questitem,
.tc.-questitem {
  color: rgb(74, 230, 58);
}
.text-color.-quest,
.tc.-quest {
  color: rgb(74, 230, 58);
}
.text-color.-nemesismod,
.tc.-nemesismod {
  color: rgb(255, 200, 0);
}
.text-color.-nemesismodoutline,
.tc.-nemesismodoutline {
  color: rgba(220, 255, 40, 0);
}
.text-color.-talismanmod,
.tc.-talismanmod {
  color: rgb(141, 241, 79);
}
.text-color.-talismanmodoutline,
.tc.-talismanmodoutline {
  color: rgba(220, 0, 0, 0);
}
.text-color.-title,
.tc.-title {
  color: rgb(231, 180, 120);
}
.text-color.-corrupted,
.tc.-corrupted {
  color: rgb(210, 0, 0);
}
.text-color.-favour,
.tc.-favour {
  color: rgb(170, 158, 130);
}
.text-color.-supporterpacknewitem,
.tc.-supporterpacknewitem {
  color: rgb(180, 96, 0);
}
.text-color.-supporterpackitem,
.tc.-supporterpackitem {
  color: rgb(163, 141, 109);
}
.text-color.-bloodlinemod,
.tc.-bloodlinemod {
  color: rgb(210, 0, 220);
}
.text-color.-bloodlinemodoutline,
.tc.-bloodlinemodoutline {
  color: rgba(200, 74, 0, 160);
}
.text-color.-tormentmod,
.tc.-tormentmod {
  color: rgb(50, 230, 100);
}
.text-color.-tormentmodoutline,
.tc.-tormentmodoutline {
  color: rgba(200, 0, 100, 150);
}
.text-color.-canttradeormodify,
.tc.-canttradeormodify {
  color: rgb(210, 0, 0);
}
.text-color.-lockedtoaccount,
.tc.-lockedtoaccount {
  color: rgb(210, 0, 0);
}
.text-color.-divination,
.tc.-divination {
  color: rgb(14, 186, 255);
}
.text-color.-prophecy,
.tc.-prophecy {
  color: rgb(181, 75, 255);
}
.text-color.-essencemod,
.tc.-essencemod {
  color: rgb(164, 210, 255);
}
.text-color.-essencemodoutline,
.tc.-essencemodoutline {
  color: rgba(210, 0, 50, 100);
}
.text-color.-premiumchat,
.tc.-premiumchat {
  color: rgb(253, 242, 126);
}
.text-color.-premiumchatoutline,
.tc.-premiumchatoutline {
  color: rgb(209, 46, 46);
}
.text-color.-uniquefoil,
.tc.-uniquefoil {
  color: rgb(130, 173, 106);
}
.text-color.-legacy,
.tc.-legacy {
  color: rgb(212, 145, 63);
}
.text-color.-bestiarymod,
.tc.-bestiarymod {
  color: rgb(255, 255, 255);
}
.text-color.-bestiarymodoutline,
.tc.-bestiarymodoutline {
  color: rgba(220, 255, 40, 0);
}
.text-color,
.tc {
  font-style: normal;
}
.text-color.-mod,
.tc.-mod {
  font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
  font-variant-ligatures: none;
  color: #8888ff;
}
.text-color.-craft,
.tc.-craft {
  font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
  font-variant-ligatures: none;
  color: #b4b4ff;
}
.text-color.-help,
.tc.-help {
  color: #7f7f7f;
  font-style: italic;
}
.text-color.-stat,
.tc.-stat {
  color: #7f7f7f;
}
.text-color.-value,
.tc.-value {
  color: #ffffff;
}
.text-color.-cosmetic,
.tc.-cosmetic {
  color: #aa9e82;
}
.text-color.-flavour,
.tc.-flavour {
  color: #af6025;
  font-style: italic;
}
.text-color.-gemdesc,
.tc.-gemdesc {
  color: #1aa29b;
}
.text-color.-card,
.tc.-card,
.text-color.-divination,
.tc.-divination {
  color: #0ebaff;
}
.text-color.-corrupted,
.tc.-corrupted {
  color: #d20000;
}
.text-color.-nemesis,
.tc.-nemesis {
  color: #ffc800;
}
.text-color.-bloodline,
.tc.-bloodline {
  color: #d200dc;
}
.text-color.-torment,
.tc.-torment {
  color: #32e664;
}
.text-color a,
.tc a {
  color: inherit !important;
}
.text-color abbr,
.tc abbr {
  color: inherit;
}
em.tc {
  font-style: normal;
}
em.tc.-i {
  font-style: italic;
}
.text-diffnormal {
  color: #55aa22;
}
.text-diffcruel {
  color: #bbaa22;
}
.text-diffmerciless {
  color: #882222;
}
.text-life {
  color: rgb(184, 32, 45);
}
.text-mana {
  color: rgb(18, 87, 164);
}
.text-energy-shield {
  color: rgb(160, 206, 242);
}
.item-box {
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  min-width: 220px;
  max-width: 440px;
  text-align: center;
  font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  color: #7f7f7f;
  background-color: #000;
}
.item-box a {
  color: inherit;
}
.item-box.-normal {
  border-color: #c8c8c8;
}
.item-box.-magic {
  border-color: #8888ff;
}
.item-box.-rare {
  border-color: #ffff77;
}
.item-box.-unique {
  border-color: #af6025;
}
.item-box.-currency {
  border-color: #aa9e82;
}
.item-box.-gem {
  border-color: #1aa29b;
}
.item-box.-quest {
  border-color: #4ae63a;
}
.item-box.-prophecy {
  border-color: #b54bff;
}
.item-box.-relic {
  border-color: #82ad6a;
}
.item-box > .header {
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
.item-box > .header::before,
.item-box > .header::after {
  display: block;
  position: absolute;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
.item-box > .header::before {
  left: 0;
}
.item-box > .header::after {
  right: 0;
}
.item-box.-shaper > .header::before,
.item-box.-shaper > .header::after {
  background-image: url(https://gamepedia.cursecdn.com/pathofexile_gamepedia/5/55/Shaper-item-symbol.png);
}
.item-box.-elder > .header::before,
.item-box.-elder > .header::after {
  background-image: url(https://gamepedia.cursecdn.com/pathofexile_gamepedia/1/1b/Elder-item-symbol.png);
}
.item-box.-veiled > .header::before,
.item-box.-veiled > .header::after {
  background-image: url(https://gamepedia.cursecdn.com/pathofexile_gamepedia/f/fd/Veiled-item-symbol.png);
}
.item-box.-fractured > .header::before,
.item-box.-fractured > .header::after {
  background-image: url(https://gamepedia.cursecdn.com/pathofexile_gamepedia/9/97/Fractured-item-symbol.png);
}
.item-box.-synthesised > .header::before,
.item-box.-synthesised > .header::after {
  background-image: url(https://gamepedia.cursecdn.com/pathofexile_gamepedia/4/4c/Synthesised-item-symbol.png);
}
.item-box.-normal > .header {
  color: #c8c8c8;
}
.item-box.-magic > .header {
  color: #8888ff;
}
.item-box.-rare > .header {
  color: #ffff77;
}
.item-box.-unique > .header {
  color: #af6025;
}
.item-box.-currency > .header {
  color: #aa9e82;
}
.item-box.-gem > .header {
  color: #1aa29b;
}
.item-box.-quest > .header {
  color: #4ae63a;
}
.item-box.-prophecy > .header {
  color: #b54bff;
}
.item-box.-relic > .header {
  color: #82ad6a;
}
.item-box > .header.-single {
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png);
}
.item-box > .header.-single {
  padding: 3px 32px;
  height: 28px;
  line-height: 25px;
}
.item-box > .header.-single::before,
.item-box > .header.-single::after {
  width: 32px;
  height: 34px;
}
.item-box.-normal > .header.-single {
  background-position: left 0, right -68px, center -34px;
}
.item-box.-magic > .header.-single {
  background-position: left -102px, right -170px, center -136px;
}
.item-box.-currency > .header.-single {
  background-position: left -204px, right -272px, center -238px;
}
.item-box.-gem > .header.-single {
  background-position: left -306px, right -374px, center -340px;
}
.item-box.-quest > .header.-single {
  background-position: left -408px, right -476px, center -442px;
}
.item-box.-prophecy > .header.-single {
  background-position: left -510px, right -578px, center -544px;
}
.item-box > .header.-double {
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e8/Item-ui-header-double.png),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e8/Item-ui-header-double.png),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e8/Item-ui-header-double.png);
}
.item-box > .header.-double {
  padding: 3px 44px;
  height: 54px;
  line-height: 22px;
}
.item-box > .header.-double::before,
.item-box > .header.-double::after {
  width: 32px;
  height: 54px;
}
.item-box.-rare > .header.-double {
  background-position: left 0, right -108px, center -54px;
}
.item-box.-unique > .header.-double {
  background-position: left -162px, right -270px, center -216px;
}
.item-box.-relic > .header.-double {
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e1/Item-ui-header-relic.gif),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e1/Item-ui-header-relic.gif),
    url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/e1/Item-ui-header-relic.gif);
}
.item-box.-relic > .header.-double {
  background-position: left 0, right -108px, center -54px;
}
.item-box > .header > a,
.item-box > .header > .selflink {
  font-weight: normal;
  color: inherit !important;
}
.item-stats {
  display: block;
  padding: 7px 12px;
  margin: 0 auto;
}
.item-stats.-nopad {
  padding: 0;
}
.item-stats > .group {
  display: block;
  margin: 0 auto;
}
.item-stats > .group:nth-last-child(n + 2)::after,
.item-stat-separator::before {
  display: block;
  margin: 5px auto;
  width: 221px;
  height: 2px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/ef/Item-ui-separators.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}
.item-box.-magic > .item-stats > .group::after,
.item-stat-separator.-magic::before {
  background-position: 0 -2px;
}
.item-box.-rare > .item-stats > .group::after,
.item-stat-separator.-rare::before {
  background-position: 0 -4px;
}
.item-box.-unique > .item-stats > .group::after,
.item-stat-separator.-unique::before {
  background-position: 0 -6px;
}
.item-box.-currency > .item-stats > .group::after,
.item-stat-separator.-currency::before {
  background-position: 0 -8px;
}
.item-box.-gem > .item-stats > .group::after,
.item-stat-separator.-gem::before {
  background-position: 0 -10px;
}
.item-box.-quest > .item-stats > .group::after,
.item-stat-separator.-quest::before {
  background-position: 0 -12px;
}
.item-box.-prophecy > .item-stats > .group::after,
.item-stat-separator.-prophecy::before {
  background-position: 0 -14px;
}
.item-box.-relic > .item-stats > .group::after,
.item-stat-separator.-relic::before {
  background-position: 0 -16px;
}
.random-modifier-stats {
  text-align: center !important;
}
.item-box > .image {
  display: block;
  padding: 7px 12px;
}
.item-box.-divicard {
  border-color: #0ebaff;
}
.item-box.-divicard:first-child {
  border: none;
  padding: 0;
  background: none;
}
.divicard-wrapper {
  display: block;
  position: relative;
  width: 440px;
  height: 668px;
}
.divicard-art {
  display: block;
  position: absolute;
  top: 56px;
  left: 26px;
  background-color: #000;
}
.divicard-art img {
  width: 390px;
  height: 280px;
}
.divicard-frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.divicard-frame img {
  width: 100%;
  height: 100%;
}
.divicard-header {
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  font-size: 20px;
  line-height: 44px;
  color: #030301;
}
.divicard-header a,
.divicard-header .selflink {
  font-weight: normal;
}
.divicard-stack {
  display: block;
  position: absolute;
  top: 309px;
  left: 42px;
  width: 70px;
  font-size: 16px;
  line-height: 38px;
  color: #fff;
}
.divicard-reward {
  display: table;
  position: absolute;
  top: 334px;
  left: 35px;
  font-size: 16px;
}
.divicard-reward > span {
  display: table-cell;
  vertical-align: middle;
  width: 374px;
  height: 110px;
}
.divicard-flavour {
  display: table;
  position: absolute;
  top: 452px;
  left: 35px;
  font-size: 16px;
}
.divicard-flavour > span {
  display: table-cell;
  vertical-align: middle;
  width: 374px;
  height: 184px;
}
.item-box.-floatright {
  float: right;
  clear: right;
  margin-left: 14px;
  margin-bottom: 14px;
}
.itemboxhover,
.itemboxhovericon {
  position: absolute;
  z-index: 10000000;
}
.itemboxhoverhide {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.itemboxhovernojs {
  display: none !important;
}
.itemboxhover {
  background-color: rgba(0, 0, 0, 0.85);
}
.itemboxhovericon {
  display: block;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}
.itemhover {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
.inline-infobox-hover {
  display: none;
  position: absolute;
  z-index: 10000000;
}
.inline-infobox-hover .item-box {
  float: left;
  display: inline-block;
}
.inline-infobox-hover .image {
  padding: 7px 12px;
}
.inline-infobox-container > a:first-child > img {
  height: 16px;
  width: auto;
}
.inline-infobox-container > a:last-child > img {
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}
.inline-infobox-container:hover > .inline-infobox-hover {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
}
.infobox-page-container {
  display: flex;
  flex-direction: column;
  float: right;
  clear: right;
  margin-left: 14px;
}
.infobox-page-container > .item-box {
  margin-bottom: 1em;
}
.infobox-page-container em.header {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  display: inline-block;
  margin-bottom: 0.5em;
}
.infobox-disabled-drop {
  color: red;
  font-weight: bold;
}
.upgraded-from-set:not(:first-child) td {
  border-top-style: dashed !important;
  border-top-width: 3px !important;
  border-top-color: #111 !important;
}
.skill-box-page-container {
  float: right;
}
.skill-box-page-container img {
  max-width: 400px;
  height: auto;
}
.skill-box-table {
  max-width: 400px;
}
.skill-box-table th {
  width: 1%;
}
.skill-box-table th,
.skill-box-table td {
  font-size: 12px;
}
.skill-box-table td[colspan="2"] {
  font-size: inherit;
}
.skill-progression-table {
  width: auto;
  text-align: center;
}
.item-table {
  text-align: center;
  max-width: 100%;
}
.infocard {
  float: right;
  clear: right;
  margin-left: 14px;
  margin-bottom: 14px;
  border-style: solid;
  border-width: 2px 1px;
  border-color: #474233 #403b2e #1a1812;
  border-radius: 6px;
  padding: 2px 3px;
  width: 292px;
  text-align: center;
  background-color: #332f24;
}
.infocard > .topbar {
  margin-bottom: 2px;
  display: table;
  width: 100%;
}
.infocard > .topbar > .left,
.infocard > .topbar > .middle,
.infocard > .topbar > .right {
  display: table-cell;
  vertical-align: middle;
}
.infocard > .topbar > .middle > .header {
  font-size: 20px;
  line-height: 1.5;
  color: #dfcf99;
}
.infocard > .topbar > .middle > .subheader {
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}
.infocard > .inner {
  margin: 0;
  border-style: solid;
  border-width: 2px 1px;
  border-color: #1a1812 #1f1c15 #474233;
  border-radius: 6px;
  background-color: #26231b;
}
.infocard > .inner > .block {
  margin: 0;
  padding: 0.5em 1em;
  list-style: none;
}
.infocard > .inner > .block:first-child {
  padding-top: 1em;
}
.infocard > .inner > .block:last-child {
  padding-bottom: 1em;
}
.status-icon {
  height: 96px;
}
.status-icon .image,
.status-icon .frame {
  height: 100%;
}
.status-icon .image img {
  margin-top: 16px;
  width: 64px;
  height: 64px;
}
.status-icon .frame {
  margin-top: -96px;
}
.status-icon .frame img {
  width: 98px;
  height: 96px;
}
.infocard.area > .topbar > .left,
.infocard.area > .topbar > .right {
  width: 27px;
}
.sidebar {
  float: right;
  margin-left: 14px;
  margin-bottom: 14px;
  border-style: solid;
  border-width: 2px 1px;
  border-color: #474233 #403b2e #1a1812;
  border-radius: 6px;
  padding: 2px 3px;
  background-color: #332f24;
  width: 292px;
}
.sidebar-inner {
  border-style: solid;
  border-width: 2px 1px;
  border-color: #1a1812 #1f1c15 #474233;
  border-radius: 6px;
  padding: 8px 1em;
  background-color: #26231b;
}
.sidebar-header {
  margin-bottom: 2px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
  color: #dfcf99;
}
.passive-line {
  display: block;
}
.passive-hover {
  display: none;
  position: relative;
}
.passive-hover:hover {
  display: inline;
}
.passive-line:hover .passive-hover {
  display: inline;
}
.passive-icon-container {
  position: relative;
  margin: 0px auto;
}
.passive-icon-frame {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.passive-icon-container a {
  position: absolute;
  z-index: 0;
}
.passive-icon-type__basic {
  width: 60px;
  height: 60px;
}
.passive-icon-type__basic .passive-icon-frame {
  width: 60px;
  height: 60px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/a/a1/Basic_passive_frame.png);
  background-repeat: round;
}
.passive-icon-type__basic a,
.passive-icon-type__basic img {
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}
.passive-icon-type__notable {
  width: 100px;
  height: 100px;
}
.passive-icon-type__notable .passive-icon-frame {
  width: 100px;
  height: 100px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/5/50/Notable_passive_frame.png);
  background-repeat: round;
}
.passive-icon-type__notable a,
.passive-icon-type__notable img {
  left: 14px;
  top: 14px;
  width: 72px;
  height: 72px;
}
.passive-icon-type__keystone {
  width: 175px;
  height: 175px;
}
.passive-icon-type__keystone .passive-icon-frame {
  width: 175px;
  height: 175px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/5/5a/Keystone_passive_frame.png);
  background-repeat: round;
}
.passive-icon-type__keystone a,
.passive-icon-type__keystone img {
  left: 36px;
  top: 36px;
  height: 100px;
  width: 100px;
}
.passive-icon-type__ascendancy_basic {
  width: 60px;
  height: 60px;
}
.passive-icon-type__ascendancy_basic .passive-icon-frame {
  width: 60px;
  height: 60px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/f/fa/Ascendancy_basic_passive_frame.png);
  background-repeat: round;
}
.passive-icon-type__ascendancy_basic a,
.passive-icon-type__ascendancy_basic img {
  left: 10px;
  top: 10px;
  width: 39px;
  height: 40px;
}
.passive-icon-type__ascendancy_notable {
  width: 100px;
  height: 100px;
}
.passive-icon-type__ascendancy_notable .passive-icon-frame {
  width: 100px;
  height: 100px;
  background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/2/26/Ascendancy_notable_passive_frame.png);
  background-repeat: round;
}
.passive-icon-type__ascendancy_notable a,
.passive-icon-type__ascendancy_notable img {
  left: 16px;
  top: 16px;
  width: 68px;
  height: 68px;
}
.GemInfoboxContainer {
  width: 300px;
  float: right;
  padding: 0px;
  margin: 0px 0px 5px 5px;
  border-collapse: collapse;
  background-color: #1a1812;
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
}
.GemInfoboxInfo {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}
.GemInfoboxInfo td {
  background-color: #26231b;
  color: #ffffff;
  padding: 5px;
}
.GemInfoboxInfo td:first-child {
  background-color: #332f24;
  color: #bfbfbf;
}
.GemInfoboxHeader {
  padding: 2px 2px 0px 2px;
}
.GemInfoboxHeader > table {
  border-collapse: collapse;
}
.GemInfoboxHeader td:first-child {
  width: 100%;
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: 11px;
}
.GemInfoboxHeaderName {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #1ba29b;
}
.GemInfoboxFooter {
  text-align: center;
  margin: 0px 2px 2px 2px;
}
.GemInfoboxFooter img {
  width: 100%;
  height: auto;
}
.GemInfoboxDescription {
  color: #1ba29b;
}
.GemInfoboxModifier {
  color: #8888ff;
}
.GemInfoboxDescription,
.GemInfoboxModifier {
  padding: 5px;
  margin: 0px 2px 2px 2px;
  background-color: #26231b;
  text-align: center;
}
.support-gem-id-red,
.support-gem-id-green,
.support-gem-id-blue {
  width: 1em;
  color: white !important;
  background-color: #c51e1e;
  display: inline-block;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.support-gem-id-red {
  background-color: #c51e1e;
}
.support-gem-id-green {
  background-color: #08a842;
}
.support-gem-id-blue {
  background-color: #4163c9;
}
table.successionbox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btflb {
  display: block;
  height: 90px !important;
  margin: 0 auto;
  padding: 5px 0;
  width: 728px !important;
}
.module-error {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  padding: 2px 3px 2px 2px;
}
.quest-table {
  width: 300px;
  color: #bfbfbf;
  float: right;
  padding: 0.1em;
  background-color: #1a1812;
  margin: 0px 0px 5px 5px;
}
.quest-table td.quest-table-iconbox {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.quest-table td.quest-table-iconbox img {
  width: 100px;
  height: 100px;
}
.quest-table th {
  text-align: right;
  font-weight: bold;
  background-color: #332f24;
}
.quest-table td {
  text-align: center;
  background-color: #26231b;
}
.quest-table td img {
  max-width: 200px;
  height: auto;
}
.legacy-stats {
  font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.857em;
  font-variant-ligatures: none;
  color: #55548c;
}
.legacy-stats .text-color.-mod {
  font-size: 1.167em;
  color: #8888ff;
}
.legacy-stats .text-color.-not {
  font-size: 1.167em;
  text-decoration: line-through;
  color: #7f7f7f;
}
.mod-table {
  width: 100%;
  margin: 0px !important;
}
.mod-table-header {
  width: 100%;
}
.mod-table-header .mw-collapsible-toggle {
}
.mod-table-header-container {
  display: table;
}
.mod-table-header-stat {
  display: table-cell;
  vector-effect: middle;
  text-align: left;
  width: 100%;
}
.mod-table-header-modgroup {
  display: table-cell;
  vector-effect: middle;
  text-align: right;
  padding-right: 1em;
}
.mod-table-cell-name {
  width: 9em;
  min-width: 9em;
  max-width: 9em;
}
.mod-table-cell-level {
  width: 1.4em;
  min-width: 1.4em;
  max-width: 1.4em;
}
.mod-table-cell-stat {
  width: 32em;
  min-width: 32em;
  max-width: 32em;
}
.mod-table-cell-tags {
  width: 100%;
}
.table-yes > span {
  color: #0f0;
}
.table-no > span {
  color: #f00;
}
.table-cell-coloured {
  color: #000;
  text-align: left;
}
.table-cell-coloured a {
  color: #666;
}
.table-cell-coloured .reference a {
  margin-left: 2px;
}
.table-cell-yes {
  background-color: #080 !important;
}
.table-cell-major {
  background-color: #8c0 !important;
}
.table-cell-partial {
  background-color: #ee0 !important;
}
.table-cell-minor {
  background-color: #d80 !important;
}
.table-cell-no {
  background-color: #e00 !important;
}
.table-cell-unknown {
  background-color: #888 !important;
}
.table-cell-checkmark {
  color: lime;
  text-align: center;
  font-weight: bold;
}
.table-cell-xmark {
  color: red;
  text-align: center;
  font-weight: bold;
}
.table-cell-dex {
  color: rgb(0, 255, 0);
}
.table-cell-int {
  color: rgb(90, 90, 255);
}
.table-cell-str {
  color: rgb(255, 0, 0);
}
.table-cell-str {
  color: rgb(255, 0, 0);
}
.table-cell-prismatic {
  color: rgb(255, 255, 255);
}
.c-responsive-table {
  margin: 20px 0;
}
.c-responsive-table__toolbar {
  margin-bottom: 2px;
}
.c-responsive-table__toolbar-button {
  display: inline-block;
  margin-right: 0.4em;
  border: none;
  font-size: 12px;
  color: #7c8489;
  background: #27292a;
}
.c-responsive-table__toolbar-button:hover,
.c-responsive-table__toolbar-button:focus {
  color: #a5b2bb;
  text-shadow: none;
  background: #343738;
}
.c-responsive-table__toolbar-button svg {
  display: inline-block;
  margin-right: 0.2em;
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
}
.c-responsive-table__scroll {
  display: inline-block;
  overflow-y: auto;
  max-height: 50vh;
}
@media screen and (min-height: 600px) {
  .c-responsive-table__scroll {
    max-height: 25vh;
  }
}
html.browser-firefox .c-responsive-table__scroll {
  padding-right: 24px;
}
.c-responsive-table.is-expanded .c-responsive-table__scroll {
  max-height: none !important;
  overflow: visible;
}
.c-responsive-table__table {
  margin: 0 !important;
}
.c-responsive-table__table tr:first-of-type th {
  position: sticky;
  top: 0px;
}
html.browser-chrome .c-responsive-table__table tr:first-of-type th {
  top: -1px;
}
.pull-quote {
  display: table;
  margin: 1em auto;
  min-width: 25%;
}
.pull-quote > .quotation {
  margin: 0 auto;
  font-size: 1.15em;
  font-style: italic;
  color: #736551;
}
.pull-quote > .citation {
  margin: 0 auto;
  text-align: right;
  font-size: 0.85em;
  font-style: normal;
}
.pull-quote.-aligncenter > .quotation,
.pull-quote.-aligncenter > .citation {
  text-align: center;
}
.pull-quote > .citation > cite {
  font-style: inherit;
}
.pull-quote > .citation::before {
  content: "— ";
}
@media all and (min-width: 50em) {
  .pull-quote.-aligncenter > .quotation,
  .pull-quote.-aligncenter > .citation {
    width: 75%;
  }
  .pull-quote.-alignleft {
    float: left;
    margin: 0 1.75em 1em 0;
    border-right: 3px solid #51453d;
    padding-right: 0.75em;
  }
  .pull-quote.-alignright {
    float: right;
    margin: 0 0 1em 1.75em;
    border-left: 3px solid #51453d;
    padding-left: 0.75em;
  }
  .pull-quote.-alignleft,
  .pull-quote.-alignright {
    width: 33.3%;
  }
}
@media all and (min-width: 73em) {
  .pull-quote.-alignnone > .quotation,
  .pull-quote.-alignnone > .citation {
    width: 80%;
  }
  .pull-quote.-aligncenter > .quotation,
  .pull-quote.-aligncenter > .citation {
    width: 50%;
  }
  .pull-quote.-alignleft,
  .pull-quote.-alignright {
    width: 25%;
  }
}






